@media print {
  .print .markdown-preview-view {
    -webkit-print-color-adjust: exact;
    background-color: #fff;
    color: #000;
  }
  .print .markdown-preview-view code {
    -webkit-print-color-adjust: exact;
    background-color: #aaa;
    color: #000;
    font-family: monospace;
  }
}

@media print {
  body {
    --font-text-size: 12pt !important;
  }
}
