*{
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1{
  font-size: 48px;
  font-weight: bolder;
}

#time_bar {
  background-color: #001;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 32px;
  font-size: 28px;
}

#time_display {
  color: #fff;
  text-align: right;
  position: fixed;
  right: 20px;
}
table{
  text-align: center;
  width: 100%;
  font-size: 24px;
}

th{
  color:#fff;
  background-color: #000;
  border: 0px solid;
  font-weight: bold;
}

tr:nth-child(even){
  background-color: #ccc;
}
